.aboutContainer1 {
  position: relative;
  /* width: 500px; */
  /* height: 420px; */
  margin: auto;
}
.aboutContainer1::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 140%;
  width: 550px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(120, 47, 152);
  background: linear-gradient(
    343deg,
    rgba(120, 47, 152, 1) 0%,
    rgba(5, 50, 129, 1) 82%,
    rgba(52, 39, 100, 1) 100%
  );
  filter: blur(440px);
  z-index: -1;
  /* animation: leviation 2s ease-in-out infinite alternate; */
}

.aboutContainer1::after {
  content: "";
  position: absolute;
  top: 80px;
  left: -30%;
  width: 550px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(120, 47, 152);
  background: linear-gradient(
    343deg,
    rgba(120, 47, 152, 1) 0%,
    rgba(5, 50, 129, 1) 82%,
    rgba(52, 39, 100, 1) 100%
  );
  filter: blur(460px);
  z-index: -1;
  /* animation: leviation 2s ease-in-out infinite alternate; */
}

/* animation: leviation 2s ease-in-out infinite alternate; */

@keyframes leviation {
  0% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}
