.image-container {
      overflow: hidden;
      position: relative;
      width: 100%;
}


.image-wrapper {
      display: flex;
      transition: transform 1s ease-in-out;
}

.sliding-image {
      width: 100%;
      /* height: 100%; */
      object-fit: cover;
      /* border-radius: 10%; */
}