.hover-effect-emerald:hover {
    background: rgba(5, 150, 105, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(5, 150, 105, 0.3); */
}

.hover-effect-diamond:hover {
    background: rgba(6, 182, 212, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(6, 182, 212, 0.3); */ 
}

.hover-effect-gold:hover {
    background: rgba(202, 138, 4, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(202, 138, 4, 0.3); */
}

.hover-effect-silver:hover {
    background: rgba(161, 161, 170, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(161, 161, 170, 0.3); */
}

.hover-effect-bronze:hover {
    background: rgba(113, 63, 18, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(113, 63, 18, 0.3); */
}

.hover-effect-event:hover {
    background: rgba(126, 1, 138, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    /* border: 1px solid rgba(113, 63, 18, 0.3); */
}

.title-platinum {
    background: rgba(5, 150, 105, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(5, 150, 105, 0.3);
}

.title-diamond {
    background: rgba(6, 182, 212, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(6, 182, 212, 0.3);
}

.title-gold {
    background: rgba(202, 138, 4, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(202, 138, 4, 0.3);
}

.title-silver {
    background: rgba(161, 161, 170, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(161, 161, 170, 0.3);
}

.title-event {
    background: #dd00ff2d;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid #ff00bf2d;
}

.title-bronze {
    background: rgba(113, 63, 18, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(113, 63, 18, 0.3);
}
