.heroContainer1 {
  position: relative;
  /* width: 500px; */
  /* Adjust width as needed */
  /* height: 420px; */
  /* Adjust height as needed */
}

.heroContainer1::before {
  content: "";
  position: absolute;
  top: 15%;
  left: -15%;
  width: 350px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(120, 47, 152);
  background: linear-gradient(
    343deg,
    rgba(120, 47, 152, 1) 0%,
    rgba(5, 50, 129, 1) 82%,
    rgba(52, 39, 100, 1) 100%
  );
  filter: blur(180px);
  z-index: -1;
  /* animation: leviation 1.5s ease-in-out infinite alternate; */ 
}
.heroContainer1::after {
  content: "";
  position: absolute;
  top: 15%;
  left: -25%;
  width: 350px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(120, 47, 152);
  background: linear-gradient(
    343deg,
    rgba(120, 47, 152, 1) 0%,
    rgba(5, 50, 129, 1) 82%,
    rgba(52, 39, 100, 1) 100%
  );
  filter: blur(220px);
  z-index: -1;
  /* animation: leviation 1.5s ease-in-out infinite alternate; */ 
}

@keyframes leviation {
  0% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}
