@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
      .nav-titles {
            @apply text-center text-transparent bg-clip-text font-bold text-white uppercase no-underline py-3 px-0 mx-2 inline-block relative opacity-75 hover:opacity-100 before:duration-300 before:h-1 before:absolute before:bg-white;
      }

      .nav-titles-ltr {
            @apply before:w-0 before:bottom-2.5 hover:before:w-full;
      }

      .nav-dropdown-titles {
            @apply block px-4 py-2 text-center text-white rounded-lg text-2xl mb-4 hover:text-white transition-transform duration-300 hover:scale-105;
      }

      .nav {
            @apply font-normal text-sm bg-zinc-950 bg-clip-padding fixed top-0 left-0 w-full md:justify-between flex justify-around px-6 lg:px-44 items-center mt-0 py-6 z-50 h-14 glassy-effect;
            
      }
      .nav-dropdown {
            @apply bg-zinc-950 mt-24 w-screen h-screen fixed inset-0 flex flex-col items-center justify-center;
      }
}

.glassy-effect{
      background: rgba(39, 39, 42, 0.43);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(39, 39, 42, 0.5);
      backdrop-filter: blur(9.1px);
      -webkit-backdrop-filter: blur(9.1px);
}

.border-top {
      border-top: 1px solid rgba(39, 39, 42, 0.5);
}